<h1>Calming the Body Formation</h1>

<p>Take an intentional, purposeful posture...be here and really show up, as if you're presence counts. Here you are, sitting upright, unapologetic.</p>

<p>So, again with your eyes closed...feel yourself from the base of the spine....invoke....may there be energy....may there be energy, feel yourself in with a sense of showing up, being here, you count...a sense of purpose...and then it's often good to take a few long, deep, slow breaths...the deep breaths are a reminder that you're going to connect to the breathing...the deep in-breaths can be kind of like a massage...when you expand....the torso, the chest, the longer exhales are a chance to relax, soften....keep the energy balanced and harmonized...you'll have to lightly adjust this through the session...not too much energy either...this time as you breathe in, feel the breath-energy go down.....and as you exhale feel it come up...not too strongly ...starts off mildly...then exhale a little more strongly.....</p>

<p>2:00 And then letting your breath return to normal...now take a moment to see how you're relating to this meditation at this point...meager, resistant, hesitant, unsure, worried, delighted...<br/>Notice if there's any tension connected to this relating, what you're about to do...as you exhale, soften and relax the tension...</p>

<p>4:00 now look into your body, feel your way through the body, are there any obvious places where you can soften the body? Muscles of the face, could be useful to drop the mouth open lightly, could be helpful to soften the shoulder blades... <br/>Might be possible to soften the arms, the chest....might be possible to soften the belly and let it hand forward, forward and down....</p>

<p>Might be possible just a little bit to soften the muscles of the legs, your butt....</p>

<p>6:30 and then within your body, as part of your body, become aware of your breathing, how your body experiences breathing...</p>

<p>And the very first, and very important steps (in the sixteen steps to calming the body and mind) is to start to become aware of breathing...as it actually is...enter into the world of your breathing...in a very simple way, <br/>meaning having no agendas beyond being present, not judging the breathing...very simple, easy, knowing, seeing what is happening in the body as you breathe in, as you breathe out...</p>

<p>9:00 and because most people, most minds, are not content, this first step is a very important training – learning how to relax, to let go, of all the pressures and tensions and compulsions of the mind that want to take you away from the simplicity of breathing...so you notice the mind wanders off in thought, or you're relating to the breathing in some way that is unnecessary to the breathing, see if you can relax...the thinking mind, see if there are any contractions in the mind that can be softened, mind becomes more open and porous, so it's not just forcing ourselves to be with the breath, anything that makes it difficult to be with the breathing...see if some part of your mind can relax, soften, and in that relaxing, see if you re-acquanit yourself into the world of breathing, breathing again...</p>

<p>12:30 See if you can be intent on focusing on the breathing without straining, intent, but spacious, relaxed, allowing the experience of breathing to fill your awareness, nothing needs to happen, exploring, feeling, what is the experience of breathing, the ways in which the body moves, the ways in which the inhalation is felt differently than the exhalation. The shifting sensation of contraction and expansion, pressure, the release of pressure, temperature, tingling, vibration, hardness, softness...</p>

<p>15:30 Let go, soften, relax, open into the experience of breathing, let go of resistance, distraction, tension, in the shoulders, and belly...</p>

<p>17:00 Keeping the mind soft, letting the inhalation of the in-breath be experienced a little different – all the way through the inhalation, notice that the beginning of the exhalation is a little different than the end of the exhalation....</p>

<p>20:00 soften the mind, relax, but also have a sense of purpose or intentness to stay connected to the breathing, aiming to be very simple, just being simple with the breath, what the breath is actually like and maybe becomming aware of how it changes over time.</p>

<p>23:30 There is, what is happening, and your relationship to it, look what is happening, including your awareness, look to see if there is any difficulty, what is your relationship to that difficulty...and can you soften and relax the relationship... <br/>If physical discomfort is a distraction, and your relationship is getting intense, you might shift your posture....</p>

<p>24:30 when you re-establish your attention on the breathing, perhaps there is a way of letting go into the breathing...softening, easing into it, being at ease with each breath.....</p>

<p>--- [I want to show you][if there is a level of stillness or comfort, as you breath, notice what that feels like in your body,] [in your chest, shoulders, neck] [in a moment the bell will ring] [and as thoughts, sensations start to arise for you] [maintain awareness of your breathing, a thread of connection the the spaciousness of your breath] [when the bell rings, don't just rush to open your eyes...really take your time, continue to feel your breath as objects of your sense faculty start to rush in, watch that process and notice how the body feels--notice the dichotomy of how it felt in meditation and watch how it feels as your sense faculty start to rush back in, maintain a thread of awareness on your breath and even as the bell rings, continue to watch your breath, and as you open your eyes, continue to watch your breath, and as you begin to move your body, continue to watch, watch your breathing through this whole process and recognize that bit of the spaciousness from your session can be maintained through that process: and the link is your breath. This level of calmness is available to you as you move throughout your day, just by coming back to the breath.</p>